APP_PORT=8080
TUNNEL_PORT=4040

# Origen permitido para CORS (la URL donde corre tu app de Base44)
# Dejalo en * mientras desarrollas
CORS_ORIGIN=*

# Solo necesario si vas a levantar el servicio de tunel (make tunnel)
# Conseguilo gratis en https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTHTOKEN=2xS6NiiqlU0hTlgYX4km2kH76zL_7N9Z4R7dqgAtyMDtjXGzR
